html, body, div, h1, h2, h3, h4, figure, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis */
:root {
    --playerColor: #2061ec;
    --backgroundTela: #551b1b;
    --pisoColor: #c5dff5;
    --paredeColor: #000000;
    --inicioColor: #b82545;
    --fimColor: #ff0000;
}

#tela {
    background-color: var(--backgroundTela);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#dimensao {
    display: flex;
    flex-wrap: wrap;

    width: 630px;
    height: 571px;
    position: relative;
}

#vitoria {
    width: 100vw;
    height: 100vh;
    background-color: #1414147a;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--paredeColor);
}
.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    /* justify-content: space-evenly; */
}
.parabens {
    width: 89%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
    padding: 35px;
    color: var(--fimColor);
    background-color: #00000075;
    box-shadow: 0 0 10px 10px #141414d5 inset;
}
.img {
    width: 100%;
    height: 100%;
}

.parede {
    background-color: var(--paredeColor);
    width: 30px;
    height: 30px;
}
.piso {
    background-color: var(--pisoColor);
    width: 30px;
    height: 30px;
}
.player { background-color: var(--playerColor); }
#inicio {
    width: 30px;
    height: 30px;
    background-color: var(--inicioColor);
}
#fim {
    width: 30px;
    height: 30px;
    background-color: var(--fimColor);
}
